name: Deploy to Cloudflare Pages
on: [push]

jobs:
  deploy:
    environment: cloudflare-pages
    runs-on: ubuntu-latest
    name: Deploy
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4.2.0
        with:
          version: 10

      - uses: actions/setup-node@v6
        with:
          node-version: 22.22.0
          registry-url: https://registry.npmjs.org/
          cache: 'pnpm'

      - name: Build
        run: pnpm i && pnpm build

      - name: Deploy
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          command: pages deploy
