name: Main jobs
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4.2.0
        with:
          version: 10

      - uses: actions/setup-node@v6
        with:
          node-version: 22.22.0
          registry-url: https://registry.npmjs.org/
          cache: 'pnpm'

      - name: Build
        run: pnpm i && pnpm build

      - name: Test
        run: pnpm test
