name: Main jobs
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node and pnpm
        uses: silverhand-io/actions-node-pnpm-run-steps@v5
        with:
          node-version: ^22.14.0
          pnpm-version: 10

      - name: Build
        run: pnpm build

      - name: Test
        run: pnpm test
